.o_equity_dashboard_kanban {
    .o_kanban_ungrouped {
        --KanbanRecord-width: 18vw;

        .o_kanban_record {
            padding-right: 1rem !important;
            padding-left: 1rem !important;

            .o_dashboard_graph {
                position: relative;
                margin: 16px -16px -8px -16px;
            }
        }
    }
}
