.o-voip-Softphone {
    --Avatar-size: 40px;

    z-index: $o-voip-softphone-z-index;

    &:not(.o-mobile) {
        width: 380px;
        height: 95vh;
        max-height: 640px;
    }

    .o-voip-avatar-bg {
        background-color: var(--Avatar-background-color, #fff);
    }

    .o-voip-Softphone-nav {
        // Simulate a top border that passes over the bottom border of the last entry
        // to avoid a double border.
        box-shadow: $border-width * -1 0 0 $border-width $border-color;
    }

    .o-voip-Softphone-navItem {
        &:hover i {
            background: $gray-200;
        }

        &.active i {
            background: $o-component-active-bg;
            color: $o-enterprise-action-color;
        }
    }

    &.o-calling {
        --#{$prefix}border-color: #{$o-voipCalling-btn-secondary-bg-color};
        --#{$prefix}body-color: #{color-contrast($o-voipCalling-bg-color)};
        --#{$prefix}heading-color: #{color-contrast($o-voipCalling-bg-color)};
        --voipCalling__tabEntry-background-color--hover: #{$o-voipCalling-tabEntry-bg-color-hover};
        --voipCalling__highlightedLetter-color: #{$o-voipCalling-highlightedLetter-color};

        background-color: $o-voipCalling-bg-color;
        color: color-contrast($o-voipCalling-bg-color);
        scrollbar-color: #fff #{$o-voipCalling-bg-color};

        // Custom scrollbar for Safari
        & *::-webkit-scrollbar {
            width: map-get($spacers, 1);
            background: $o-voipCalling-bg-color;
        }

        & *::-webkit-scrollbar-thumb {
            border-radius: $border-radius-pill;
            background: #fff;
        }

        .btn-secondary {
            --#{$prefix}btn-color: #{$o-voipCalling-btn-secondary-color};
            --#{$prefix}btn-bg: #{$o-voipCalling-btn-secondary-bg-color};
            --#{$prefix}btn-border-color: #{$o-voipCalling-btn-secondary-border-color};
            --#{$prefix}btn-hover-color: #{$o-voipCalling-btn-secondary-color};
            --#{$prefix}btn-hover-bg: #{$o-voipCalling-btn-secondary-bg-color-hover};
            --#{$prefix}btn-hover-border-color: #{$o-voipCalling-btn-secondary-border-color};
            --#{$prefix}btn-active-color: #{$o-voipCalling-btn-secondary-color-active};
            --#{$prefix}btn-active-bg: #{$o-voipCalling-btn-secondary-bg-color-active};
            --#{$prefix}btn-active-border-color: #{$o-voipCalling-btn-secondary-border-color};
            --#{$prefix}btn-disabled-color: #{$o-voipCalling-btn-secondary-color};
            --#{$prefix}btn-disabled-bg: #{$o-voipCalling-btn-secondary-bg-color};
            --#{$prefix}btn-disabled-border-color: #{$o-voipCalling-btn-secondary-border-color};
        }

        .btn-light {
            --#{$prefix}btn-color: #{$o-voipCalling-btn-light-color};
            --#{$prefix}btn-bg: #{$o-voipCalling-btn-light-bg-color};
            --#{$prefix}btn-border-color: #{$o-voipCalling-btn-light-border-color};
            --#{$prefix}btn-hover-color: #{$o-voipCalling-btn-light-color};
            --#{$prefix}btn-hover-bg: #{$o-voipCalling-btn-light-bg-color-hover};
            --#{$prefix}btn-hover-border-color: #{$o-voipCalling-btn-light-border-color};
            --#{$prefix}btn-active-color: #{$o-voipCalling-btn-light-color-active};
            --#{$prefix}btn-active-bg: #{$o-voipCalling-btn-light-bg-color-active};
            --#{$prefix}btn-disabled-color: #{$o-voipCalling-btn-light-color};
            --#{$prefix}btn-disabled-bg: #{$o-voipCalling-btn-light-bg-color};
            --#{$prefix}btn-disabled-border-color: #{$o-voipCalling-btn-light-border-color};
        }

        .btn-close {
            filter: var(--voipCalling__closeButton-filter, #{$btn-close-white-filter});
        }

        .form-control:focus {
            background: inherit;
        }

        .bg-view {
            --#{$prefix}background-color: #{$o-voipCalling-bg-color};
        }
    }

    .o-voip-CallIcon-end {
        transform: rotate(135deg);
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    .o-voip-countryFlag-wrapper {
        width: $oi-fw-ratio * 1em;
    }

    .o-voip-countryFlag {
        width: var(--voip__countryFlag-width, #{$o-voip-countryFlag-width});
    }

    .o-voip-highlighted-letter {
        color: var(--voipCalling__highlightedLetter-color, #{$primary});
    }
}
