.o_knowledge_sidebar {
    .o_section {
        .o_section_header {
            height: 30px;
        }
        .o_section_header_label {
            &:hover {
                font-weight: $font-weight-bold;
            }
        }
        .o_section .o_tree {
            min-height: 2rem;
        }
        .o_knowledge_empty_info {
            font-size: 12px;
        }
    }
}
