.blackbox_be_cachier_sel_btn:active {
  background-color: var(--btn-hover-bg) !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--btn-border-color) !important;
}
