.o_payrun_action_buttons .btn {
    border: inherit;
    width: 100%;
    background-color: inherit;
    color: inherit;
    font-weight: $font-weight-normal;
    text-align: left;

    &:hover {
        background-color: $dropdown-link-hover-bg;
        color: inherit;
    }
}
