/* Dark mode overrides. Remove this once dark mode is properly supported in o-spreadsheet. */
.o-filter-tooltip {
  background-color: #fff;

  .text-white {
    color: #fff !important;
  }

  .bg-200 {
    background-color: #e7e9ed !important;
    color: #111827 !important;
  }
}

.o_topbar_filter_icon {
  .text-white {
    color: #fff !important;
  }
}
