.facet-container {
  display: flex;
  gap: 0.5rem;
}

.facet-box {
  flex: 1 0 auto;
  display: flex;
  max-width: none;
}

.o-spreadsheet .o_topbar_filter_icon.btn .badge {
  top: 0px; /* bootstrap applies top:-1px to badges inside `btn` */
}
