.o_worksheet_row:nth-child(odd) {
    --bg-opacity: 0.25;
    background-color: #f8f9fa;
    border-top: $border-width solid var(--border-color);
    border-bottom: $border-width solid var(--border-color);
    padding: 0.5rem 0;
}
