// Make the footer only slightly (2vh) visible. 56px is the height
// of the top header bar o_header_standard. (navbar + 1rem padding)
.o_appointment_index, .o_wappointment_wrap {
    min-height: calc(98vh - 56px);
}

.o_wappointment_appointment_list_columns {
    .o_wappointment_ressource_badge {
        height: 24px;
    }
}

.o_wappointment_message_intro {
    max-height: 150px;
    display: -webkit-box;
    -webkit-line-clamp: var(--AppointmentMessage-line-clamp, 5);
    -webkit-box-orient: vertical;

    p:last-child {
        margin-bottom: 0;
    }
}

// Targetting the output of a t-field
.o_wappointment_card_user_dsc p {
    margin: 0;
}

.o_wappointment_card_staff_users {
    padding: 0 0 $card-spacer-x $card-spacer-y;
}
