.o_knowledge_article_view_form_view {

    --editor-gutter-size: 2rem;
    --o-view-nocontent-zindex: 1; // ensure that the no-content helper will have a z-index of 1

    .o_scroll_view {
        @include o-position-absolute(0, 0, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .o_knowledge_header {
        .o_hierarchy_article_name input {
            &:hover, &:focus {
                border-bottom: $input-border-width solid $o-brand-primary !important;
                border-top: $input-border-width solid transparent !important;  // keeps input centered
            }
        }
    }

    .o_knowledge_toggle_sidebar i.oi-panel-right {
        transform: scaleX(-1);
    }
    .o_knowledge_editor .o_field_html .note-editable{
        padding-top: 0px;
    }
    .o_knowledge_icon.o_large,
    .o_knowledge_editor .o_field_html .note-editable,
    .o_knowledge_editor .o_field_html .o_readonly,
    .o_knowledge_editor .o_field_html .o_knowledge_helper {
        padding-left: var(--editor-gutter-size) !important;
        padding-right: calc(var(--editor-gutter-size) + 40px) !important;
    }
    .o_knowledge_body:has([data-embedded="view"]:first-child) {
        > span:first-child {
            display: none;
        }
        .o_knowledge_editor {
            margin-top: 0 !important;
        }
        .o_knowledge_icon:first-child {
            margin-top: 0 !important;
        }
    }
    .o_knowledge_article_view_form_dynamic_width ~ .o_knowledge_icon,
    .o_knowledge_article_view_form_dynamic_width ~ .o_knowledge_editor .o_field_html .note-editable,
    .o_knowledge_article_view_form_dynamic_width ~ .o_knowledge_editor .o_field_html .o_readonly,
    .o_knowledge_article_view_form_dynamic_width ~ .o_knowledge_editor .o_field_html .o_knowledge_helper {
        width: 100%;
        max-width: calc(750px + 2 * var(--editor-gutter-size));
        margin-left: auto;
        margin-right: auto;
    }

    // = Sidebar
    // --------------------------------------------------------------------------
    .o_knowledge_sidebar {
        .o_knowledge_tree {
            user-select: none;
        }

        .o_knowledge_sidebar_trash {
            ul {
                display: none;
            }
            bottom: 0px;

            .btn {
                margin-left: $input-btn-padding-x * -1;
            }

            a {
                &:hover {
                    background-color: rgba($knowledge-bg--hover, 0.3);
                }
                &:focus {
                    border: none;
                }
            }
        }

        .o_knowledge_tree.o_dragging {
            .o_knowledge_sidebar_trash {
                &:hover > div {
                    outline: solid 3px deepskyblue;
                    pointer-events: none;
                }
            }
            li >:not(ul) {
                pointer-events: none;
            }
        }
    }

    .o_knowledge_body {
        .o_knowledge_icon {
            font-size: 3em;
            line-height: normal;
            margin-top: map-get($spacers, 3);
            margin-bottom: 0;
            .o_article_emoji {
                position: relative;
            }
        }
        .o_widget_knowledge_cover + .o_knowledge_icon {
            margin-top: -0.7em;
        }
    }
}

.o_knowledge_select_menu,
.o_knowledge_select_menu_dropdown {
    img {
        width: 20px;
        height: 20px;
    }
}

.o_knowledge_article_kanban_view .o_kanban_renderer {
    .o_knowledge_kanban_card {
        min-height: 6rem;
    }
    .o_kanban_quick_create {
        // as quick create cards don't have as much space as forms, make properties take all
        // available width, use 2 lines instead of 1 and remove draggable handle to save space
        .o_field_properties .o_inner_group {
            width: 100% !important;
            .o_property_field.o_wrap_label {
                display: block !important;
            }
            i.oi-draggable {
                display: none;
            }
        }
    }
}

.o_knowledge_article_view_calendar_embedded_view tr:not(.fc-scrollgrid-section-liquid) .fc-scroller {
    overflow: hidden !important  // FC adds inline style
}

.o_knowledge_article_view_calendar_embedded_view .overflow-hidden {
    // remove the overflow-hidden when inside embed
    overflow: unset !important;
}

.o_knowledge_toggle_favorite {
    i.fa-star-o {
        @include o-hover-text-color($o-main-color-muted, $o-main-favorite-color);
    }
    i.fa-star {
        color: $o-main-favorite-color;
    }
}

.o_knowledge_add_people_input {
    .o_field_tags {
        width: 100%;
    }
}

.o_command_palette {
    .o_command_palette_box_header {
        min-height: 30px;
    }
}

// Media queries:

@include media-breakpoint-up(lg) {
    .o_knowledge_form_view {
        .o_scroll_view_lg {
            @include o-position-absolute(0, 0, 0, 0);
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .o_widget_knowledge_chatter_panel,
    .o_widget_knowledge_comments_panel,
    .o_widget_knowledge_properties_panel {
        border-left: 1px solid $border-color;
    }
}

@include media-breakpoint-down(lg) {
    .o_widget_knowledge_chatter_panel,
    .o_widget_knowledge_comments_panel,
    .o_widget_knowledge_properties_panel {
        width: 100% !important;
    }
}

@include media-breakpoint-up(sm) {
    .o_knowledge_article_view_form_view {
        .o_knowledge_body {
            .o_knowledge_icon {
                font-size: 5em;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .o_knowledge_sidebar {
        transition: width 0.15s linear;
        width: clamp(200px, var(--knowledge-article-sidebar-size), 35%);
    }
}

@include media-breakpoint-down(md) {
    .o_knowledge_form_view {
        --editor-gutter-size: 1rem;
        &:not(.o_toggle_aside) {
            .o_knowledge_backdrop {
                display: none;
            }
            .o_knowledge_sidebar {
                transform: translateX(-100%);
            }
        }
        .o_knowledge_sidebar,
        .o_knowledge_main {
            transition: transform .2s ease;
        }
        .o_knowledge_sidebar {
            @include o-position-absolute(0, 50px, 0, 0);
            z-index: $zindex-modal-backdrop - 1; // should be greater than the backdrop z-index
        }
        .o_knowledge_backdrop {
            @include o-position-absolute(0, 0, 0, 0);
            background: rgba(0, 0, 0, .3);
            z-index: $zindex-modal-backdrop - 2; // should be greater than the action helper z-index
        }
    }
}

@media (hover: hover) { // Devices supporting hover
    .o_knowledge_article_view_form_view {
        .o_knowledge_edit_cover_buttons {
            transition: opacity 0.3s ease-in-out;
        }
        .o_knowledge_cover:not(:hover) .o_knowledge_edit_cover_buttons {
            opacity: 0;
        }
        .o_section_header:not(:hover) .o_section_create,
        .o_section_header:not(:hover) .o_knowledge_join_article_members {
            visibility: hidden;
        }
        .o_article_handle:not(:hover) .o_article_create {
            display: none;
        }
    }
}
