.o_widget_knowledge_properties_panel {
    &:empty {
        display: none,
    }
    min-width: 250px;
    width: 25%;
    background: var(--knowledge-properties-bg, $o-gray-100);

    .o_properties_helper {
        background: var(--knowledge-properties-bg, $o-gray-100);
        .o_view_nocontent_smiling_face:before {
            @extend %o-nocontent-init-image;
            width: 120px;
            height: 140px;
            background: transparent url(/web/static/img/smiling_face.svg) no-repeat center;
        }
    }
    .o_properties_helper + .o_field_properties {
        .o_field_property_add {
            text-align: center;
        }
    }

    .o_inner_group {
        width: 100%;
        display: block;
    }
    .o_input,
    .o_field_property_tag,
    .o_field_property_many2one_value:not(:empty),
    .o_field_property_many2many_value:not(:empty) {
        border-bottom: $input-border-width solid $o-gray-300;
    }
    .o_input:focus,
    .o_field_property_tag:focus-within,
    .o_field_property_many2one_value:not(:empty):focus-within,
    .o_field_property_many2many_value:not(:empty):focus-within {
        border-bottom: $input-border-width solid $o-brand-primary;
    }
    .o_input_dropdown {
        input {
            border: 0 !important;
        }
    }
    .o_property_field {
        display: block !important;
        &.o_property_folded {
            display: none !important;
        }
    }
    .o_field_property_add {
        margin-left: -0.5rem !important;
        button {
            --btn-bg: var(--knowledge-properties-btn-bg, $o-gray-200);
            --btn-border-color: var(--knowledge-properties-btn-bg, $o-gray-200);
        }
    }
    .o_properties_external_button {
        background: transparent;
        border: 0;
    }
}

@media (hover: hover) { // Devices supporting hover
    .o_widget_knowledge_properties_panel {
        .o_field_property_label:not(:hover) {
            .o_field_property_open_popover,
            .oi-draggable {
                opacity: 0;
            }
        }
    }
}
