.o-DocumentsFileViewer-main {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.o-DocumentsFileViewer-main-with-chatter {
    width: calc(100vw - (#{$o-mail-Chatter-minWidth}  + 20px)) !important;
}

.o-DocumentsFileViewer-main-without-chatter {
    width: 100vw  !important;
}
