.o_notebook {
    --Notebook__link-border-top-color--active: #{map-get($o-theme-text-colors, 'primary')};
    --Notebook__link-color--active: #{map-get($o-theme-text-colors, 'primary')};
    --Notebook__link-background-color: #{$o-gray-300};
    --Notebook__link-background-color--hover: #{$o-gray-400};
    --Notebook__link-border-color: #{$o-gray-200};
    --Notebook__link-border-color--hover: #{$o-gray-200};
}
