.o_view_nocontent_worksheet:before {
    @extend %o-nocontent-init-image;
    width: 300px;
    height: 222px;
    background: transparent url(/mrp_workorder/static/img/cutting-worksheet-1.png) no-repeat center;
}