/* Field Service Management Industry Theme Styles & CSS Variables */

:root {
    --w-brand-primary: #0B2E64;
    --w-brand-secondary: #0284C7;
    --w-login-banner-url: url('/industry_fsm_theme/static/src/img/fsm_login_banner.svg');
}

/* Custom Login Page Overrides for FSM Theme */
.w_login_banner_panel {
    background-color: var(--w-brand-primary) !important;
}

/* Backend Navbar & Brand Accents */
.w_navbar {
    border-bottom: 2px solid var(--w-brand-secondary) !important;
}
