$o-voipCalling-bg-color: #090C13;
$o-voipCalling-btn-secondary-bg-color: #1F2937;
$o-voipCalling-btn-secondary-bg-color-hover: #19222E;
$o-voipCalling-btn-secondary-bg-color-active: #fff;
$o-voipCalling-btn-secondary-color: color-contrast($o-voipCalling-btn-secondary-bg-color);
$o-voipCalling-btn-secondary-color-active: color-contrast($o-voipCalling-btn-secondary-bg-color-active);
$o-voipCalling-btn-secondary-border-color: transparent;
$o-voipCalling-btn-light-bg-color: $o-voipCalling-bg-color;
$o-voipCalling-btn-light-bg-color-hover: $o-voipCalling-btn-secondary-bg-color;
$o-voipCalling-btn-light-bg-color-active: mix($o-action, $o-voipCalling-bg-color, 20%);
$o-voipCalling-btn-light-color: color-contrast($o-voipCalling-btn-light-bg-color);
$o-voipCalling-btn-light-color-active: color-contrast($o-voipCalling-btn-light-bg-color-active);
$o-voipCalling-btn-light-border-color: $o-voipCalling-btn-secondary-border-color;
$o-voipCalling-tabEntry-bg-color-hover: #0E131C;
$o-voipCalling-highlightedLetter-color: #b972a6;
$o-voip-softphone-z-index: $zindex-modal - 2;
$o-voip-countryFlag-width: 2em;
$o-voip-progress-height: map-get($spacers, 1);
$o-voip-progressBar-duration: 3s;
